body {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    width: 100%;
}

h2 {
  font-size: 26px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 2%;
  background-image: -o-linear-gradient(red, pink, green);
  background-image: linear-gradient(red, pink, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h5 {
   font-size: 14px;
   font-weight: 700;
   color: #009900;
}
h4 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 2%;
  background-image: -o-linear-gradient(red, green);
  background-image: linear-gradient(red, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
h6 {
   font-size: 10px;
   font-weight: 700;
}

/*  header ... */
.page-title {
    font-size: 46px;
    font-family: Lobster, cursive;
    font-weight: 700;
    text-align: center;
    margin-top: 5%;
    background-image: -o-linear-gradient(blue, pink, MediumVioletRed);
    background-image: linear-gradient(blue, pink, MediumVioletRed);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

main {
padding: 25px;
margin: auto;
justify-content: center;
}

main p {
  font-family: "Roboto", sans-serif;
  color:#3366cc;
  text-align: center;
}

table {
  table-layout: auto;
  border-spacing: 10px;
  width: 100%;
  justify-content: center;
  text-align: center;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  justify-content: center;
}

/* footer..... */
.page-footer {
    font-family: "Libre Caslon Text", serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 225px;
    width: 100%;
    text-align: center;
    background-color: lightblue;
}
